<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()" >
  Add Server
</button>
<br />
<label for="twoway">2 way: </label>
<input id="twoway" type="text" class="form-control" [(ngModel)]="serverName" />
<label for="onevent">On Event: </label>
<input id="onevent" type="text" class="form-control" (input)="onUpdateServerName($event)" />
<p [innerText]="serverName"></p>
<p *ngIf="serverCreated" [innerText]="serverCreationStatus"></p>
<app-server *ngFor="let server of servers"></app-server>
